.calendar-details-tooltip {
    position: relative;
    z-index: 100;

    .wrapper {
        position: absolute;
        top: 32px;

        .tooltip-content {
            font-size: 13px;
            color: #616161;
            background-color: #fff;
            box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.15), 1px -3px 3px 2px rgba(0, 0, 0, 0.03);
            //min-width: 285px;
            width: 285px;
            margin-left: -142px;

            .tooltip-header {
                background: #fafafa;
                text-transform: uppercase;
                font-weight: 700;
                text-align: center;
                padding: 4px;
                box-shadow: inset 0 -1px 0 0 rgba(221, 221, 221, 0.5);
            }

            .event {
                height: 86px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: inset 0 -1px 0 0 #dddddd;
                padding: 10px;
                font-size: 14px;

                &:hover {
                    background: #e3f2fd;
                }

                .tooltip-event-name {
                    display: flex;

                    .tooltip-event-type {
                        margin-right: 10px;
                        font-weight: 500;

                        &.no-space {
                            margin-right: 0;
                        }

                        .dot {
                            width: 10px;
                            height: 10px;
                            background: #616161;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 5px;

                            &.res {
                                background: #1e88e5;
                            }
                        }
                    }

                    .tooltip-event-content {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                .dates {
                    padding-left: 15px;
                }

                .open-section {
                    height: 20px;
                    padding-left: 15px;
                }
            }
        }
    }
}
